

h1 
	{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	color: white;
	background-color: grey;
	}

h2 
	{ font-family: 'Playfair Display', serif;
	  font-size: 16px;
	  color: black;
	  text-align: center;

	}

background-image: url ('https://s-media-cache-ak0.pinimg.com/originals/74/3a/26/743a26da2b89f72198339ff19e0fea20.png')